{% extends "base.html"%}
{%block main%}
<a>
El proyecto consta de realizar una página para el laboratorio de dispositivos moleculares (LDM) de la facultad de Ciencias Exactas y Naturales de la Universidad de Buenos Aires. 
<br>En la página se podrán encontrar 4 modelos, a saber:
<br>Integrantes: es el staff del laboratorio conformado por investigadores, becarios doctorales y postdoctorales. Los atributos de éste modelo son: nombre, apellido, fecha de ingreso, área de investigación, mail, biografía y ávatar. Éste será el modelo principal.
<br>Colaboradores: son investigadores pertenecientes a otras universidades con los cuales se han llevado adelante diversos proyectos de investigación conjunta. 
<br>Publicaciones: es un listado de la las publicaciones que se han realizado en revistas científicas.
<br>Congresos: son los congresos a los cuales al menos algún miembro del laboratorio ha asistido.
<br>El proyecto fue llevado adelante por Estefanía Rafic que es becaria doctoral del mencionado laboratorio.

</a>

{% endblock main%}