{% extends "base.html"%}

{%block main%}

{% comment %} <form action="">
    <input type="text" name="apellido">
    <input type="submit" value="Buscar Integrante" />
</form> {% endcomment %}

<ul>

{% for integrante in listado_integrantes%}

<li>{{integrante}} |<a href= {% url "detalle_integrantes" integrante.id%}> Ver Más </a>||<a href= {% url "actualizar_integrantes" integrante.id%}> Actualizar </a>| | <a href={% url "eliminar_integrantes" integrante.id %}> Eliminar </a> |</li>

{% endfor %}

</ul>

{%endblock main%}