{% extends "base.html"%}

{%block main%}
<p>
    <a class="btn btn-primary" href={% url "crear_publicaciones"%}>Crear Publicaciones </a>
    

</p>

<form action="">
    {% comment %} <input type="text" name="titulo"> {% endcomment %}
    {{formulario}}
    <input type="submit" value="Buscar Publiación" />
</form>


{% if listado_publicaciones %}
<ul>

{% for publicacion in listado_publicaciones%}

<li>{{publicacion}}</li>

{% endfor %}
{% else %}

<p> No se encontró la publicación. </p>
{% endif %}

</ul>

{%endblock main%}